#contact {
    display: flex;
    flex-direction: column;    
}

.contact-form {
    padding-top: 100px;   
    padding-bottom: 100px;  
}

.contact-box {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


#contact .contact-form .form-group {
    margin-bottom: 0.75rem;
}

#contact .contact-form .form-group label {
    display: block;
    padding-bottom: 10px;
}

#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px; 
}

.bg {
    background: black;
    color: white;
}

.btn {
    background: rgb(0, 0, 0);
    padding: 0.5rem 2rem;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    border-color: orange;
}